<ion-view view-title="Formación académica">
  <ion-content class="positiveBGView">
	 <div class="list">
	 
		 <div class="card">
			 <div class="item item-text-wrap">
				 <p>
				 <b>Educación Secundaria Obligatoria</b><br />
				 I.E.S. Inca Garcilaso, Montilla
				 </p>
			 </div>
			 <div class="item item-divider">
				 Promoción: 2010
			 </div>
		 </div>
		 
		 <div class="card">
			 <div class="item item-text-wrap">
				 <p>
				 <b >Ciclo Formativo Grado Medio Sistemas Microinformáticos y Redes</b><br />
				 I.E.S. Inca Garcilaso, Montilla
				 </p>
			 </div>
			 <div class="item item-divider">
				 Promoción: 2013
			 </div>
		 </div>
		 
		 <div class="card">
			 <div class="item item-text-wrap">
				 <p>
				 <b>Ciclo Formativo Grado Superior Desarrollo Aplicaciones Multiplataforma</b><br />
				 I.E.S. Francisco de los Ríos, Fernán-Nuñez
				 </p>
			 </div>
			 <div class="item item-divider">
				 Promoción: Cursando actualmente
			 </div>
		 </div>
		 
	 </div>
  </ion-content>
</ion-view>
