<ion-view view-title="CurrículumVitae">
  <ion-content class="positiveBGView">
	 <div class="center">
		 <h1>Información</h1>
		 <p>
			 Gracias por visitar esta aplicación web.<br />
			 Pulsa el botón que aparece en la parte superior izquierda de la pantalla para visualizar algún apartado del currículum.<br />
			 Si pulsas el botón de la parte superior derecha en cualquier momento, podrás ver esta pantalla de información; podrás volver a la vita que tenías gracias al botón de vuelta.
		 </p>
		 
		 <hr color="#000000" />
		 <h3><div class="icon ion-person"> Datos personales</div></h3>
		 <p class="center">
			 En esta vista se pueden visualizar los datos personales del solicitante.<br />
			 La vista está presentada mediante tarjetas anidadas donde se muestran los datos, recuperados de un controlador controlador.
		 </p>
		 
		 <hr width="70%" color="#000000" />
		 <h3><div class="icon ion-clipboard"> Formación académica</div></h3>
		 <p class="center">
			 En esta vista se encuentra el perfil académico del solicitante.
		 </p>
		 
		 <hr  width="70%" color="#000000" />
		 <h3><div class="icon ion-trophy"> Otros datos</div></h3>
		 <p class="center">
			 De momento, en esta vista sólo se encuentra una lista de habilidades de las que dispone el solicitante.<br />
			 Las habilidades se muestran en una barra que designa el nivel de la habilidad y desde cuándo se trabaja con ella.<br />
		 </p>
		 
	 </div>
  </ion-content>
</ion-view>
